LoadPlugin "python"
TypesDB "{{Globals.PluginRoot}}/signalfx/types.db.plugin"
<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/signalfx/src"
  LogTraces true
  Interactive false

  Import "signalfx_metadata"
  <Module signalfx_metadata>
  {{with .IntervalSeconds -}}
    Interval {{.}}
  {{- end}}
    Notifications true
    URL "{{.CollectdConf.WriteServerURL}}"
    Token "{{.SignalFxAccessToken}}"
    NotifyLevel "OKAY"
    ProcPath "{{ .ProcFSPath }}"
    EtcPath "/hostfs/etc"
    PersistencePath "/var/lib/misc"
  </Module>
</Plugin>
