LoadPlugin "python"
<Plugin "python">
  ModulePath "{{ pluginRoot }}/consul"
  Import "consul_plugin"

  <Module consul_plugin>
    ApiHost "{{.Host}}"
    ApiPort "{{.Port}}"
    ApiProtocol "{{if .UseHTTPS}}https{{else}}http{{end}}"
    TelemetryServer false
    # This is tough to support in a containerized env because this agent would
    # have to dynamically expose this port for consul to access.
    #TelemetryHost "localhost"
    #TelemetryPort "8125"
    {{with .ACLToken -}}
    AclToken "{{.}}"
    {{- end}}
    SfxToken "{{.SignalFxAccessToken}}"
    Dimension "monitorID={{.MonitorID}}"

    EnhancedMetrics {{if .EnhancedMetrics}}true{{else}}false{{end}}
    {{with .CACertificate -}}
    CaCertificate "{{.}}"
    {{- end}}
    {{with .ClientCertificate}}
    ClientCertificate "{{.}}"
    {{- end}}
    {{with .ClientKey -}}
    ClientKey "{{.}}"
    {{- end}}
  </Module>
</Plugin>
