LoadPlugin "python"
<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/health_checker"

  Import "health_checker"
  <Module health_checker>
    URL "{{renderValue .URL .}}"
    Instance "{{.Name}}[{{encodeDimsForPluginInstance .ExtraDimensions}}]"
    JSONKey "{{.JSONKey}}"
    JSONVal "{{.JSONVal}}"
  </Module>
</Plugin>
