LoadPlugin "python"
TypesDB "{{Globals.PluginRoot}}/signalfx/types.db.plugin"
<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/signalfx/src"
  LogTraces true
  Interactive false

  Import "signalfx_metadata"
  <Module signalfx_metadata>
  {{with .IntervalSeconds -}}
    Interval {{.}}
  {{- end}}
    Notifications true
    URL "{{.WriteServerURL}}?monitorID={{.MonitorID}}"
    Token "unnecessary"
    NotifyLevel "OKAY"
    ProcPath "{{ .ProcFSPath }}"
    EtcPath "./hostfs/etc"
    PersistencePath "./run"
  </Module>
</Plugin>


<Chain "PostCache"> 
  <Rule "set_metadata_monitor_id"> 
    <Match "regex"> 
      Plugin "^signalfx-metadata$" 
    </Match> 
    <Target "set"> 
      MetaData "monitorID" "{{.MonitorID}}" 
    </Target> 
  </Rule> 
</Chain>
