{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{ toYaml . }}
  {{- end }}
  labels:
    app: {{ template "signalfx-agent.name" . }}
    chart: {{ template "signalfx-agent.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ template "signalfx-agent.serviceAccountName" . }}
  namespace: {{ template "signalfx-agent.namespace" . }}
{{- end -}}
