# Legacy project ownership
* @keitwb @jcheng-splunk @mstumpfx @asuresh4 @rmfitzpatrick @signalfx/gdi-data-collection-maintainers

# Docs reviewers
*.md @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
README* @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers

