# Legacy project ownership
* @keitwb @jcheng-splunk @mstumpfx @asuresh4 @rmfitzpatrick @signalfx/gdi-data-collection-maintainers

# Docs reviewers
*.md @signalfx/gdi-data-collection-approvers @signalfx/docs
*.rst @signalfx/gdi-data-collection-approvers @signalfx/docs
docs/ @signalfx/gdi-data-collection-approvers @signalfx/docs
README* @signalfx/gdi-data-collection-approvers @signalfx/docs

