*.tar.gz
.git/**
.githooks/**
.github/**
.glide/**
.build/**
signalfx-agent*
tmp/**
local-etc/**
build/**
pkg/monitors/**/template.go
pkg/monitors/collectd/collectd.conf.go
packaging/*/output
tests/**/__pycache__
**/.pytest_cache/**
test_output/**
**/virtualenv
vendor_orig/**
**/virtualenv
**/boxcutter/**
**/.vagrant/**
Vagrantfile
.circleci/**
.azure-pipelines/**
**/genmetadata.go
monitor-code-gen
java/**/target
python/**/build
python/**/dist
python/**/*.egg-info
