*.tar.gz
.git/**
.glide/**
.build/**
signalfx-agent*
tmp/**
local-etc/**
build/**
internal/monitors/**/template.go
internal/monitors/collectd/collectd.conf.go
packaging/*/output
tests/**/__pycache__
**/virtualenv
vendor_orig/**
**/boxcutter/**
**/.vagrant/**
.circleci/**
.azure-pipelines/**
