**boxcutter/
*.exe
*.pfx
*.pfx
*.pyc
*.tar.gz
*.tgz
.DS_Store
.DS_Store
.envrc
.idea/
.kube/
.mypy_cache/
.pytest_cache
.python-version
.vagrant
.vagrant/
.vscode/
/.docker-sync
/agent
/collectd
/debug
/internal/core/common/constants/versions.go
/internal/monitors/**/genmetadata.go
/internal/monitors/**/template.go
/internal/monitors/collectd/collectd.conf.go
/monitor-code-gen
/packaging/*/output
/signalfx-agent
/vendor.orig/
__pycache__
build/
bundle/
integration_results.*
local-etc/
test_output/
tmp/
