.bin
.build
/vendor
test-build
build/
local-etc/
/agent
scripts/go_packages.tar
monitors/**/template.go
monitors/collectd/collectd.conf.go
/neo-agent
/signalfx-agent
scripts/.Dockerfile*
.glide/
*.pyc
