build/
local-etc/
/agent
/.docker-sync
internal/monitors/**/template.go
internal/monitors/**/genmetadata.go
internal/core/common/constants/versions.go
internal/monitors/collectd/collectd.conf.go
/signalfx-agent
/monitor-code-gen
*.tar.gz
*.tgz
/debug
*.pyc
/collectd
.vagrant
tmp/
/packaging/*/output
test_output/
.pytest_cache
__pycache__
/vendor.orig/
.idea/
*.exe
.mypy_cache/
.vscode/
.vagrant/
**boxcutter/
integration_results.*
.DS_Store
*.pfx
.kube/
