# Version of the signalfx-agent to deploy.  This will be the default for the
# docker image tag if not overridden with imageTag
agentVersion: 4.4.0

# The access token for SignalFx.  REQUIRED
# You should pass this in at helm invocation time
signalFxAccessToken: ""

# Docker image configuration
image:
  # Image pull policy for the agent pod
  pullPolicy: IfNotPresent
  # The docker image to use for the agent
  repository: quay.io/signalfx/signalfx-agent
  # tag defaults to the agentVersion but can be overridden
  tag:
  # pullSecret is not needed for our standard image
  pullSecret:

# How many agent pods can be unavailable at a time when rolling out a new
# version of the agent
rollingUpdateMaxUnavailable: 1

# Namespace to deploy agent in (Optional: Will default to release namespace)
namespace: demo-system

# RBAC config for the agent
rbac:
  create: true
  # You might need custom rules if you are pulling secrets to configure
  # monitors.
  customRules: []

# Service account config for the agent pods
serviceAccount:
  # Specifies whether a ServiceAccount should be created
  create: true
  # The name of the ServiceAccount to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

# This adds some tolerations to the pods that the DaemonSet creates that
# should allow the agent to run on the master nodes of newer versions of K8s
# that are deployed with standard master taints (see daemonset.yaml).  If you
# need custom tolerations, see the 'tolerations' config option below.
runOnMaster: true

# You can specify additional tolerations for the pods that the DaemonSet
# creates.
tolerations: []

# Extra labels to put on agent pods.  Values must be strings per the k8s label
# schema.
extraPodLabels: {}

# You can specify a custom agent config file with the agentConfig value.  If
# you specify this, all of the options below here will no longer be applicable
# since they are used to render a default config (see configmap.yaml template).
agentConfig:

# The SignalFx realm to configure the agent to send metrics to.  If set, the
# values of `ingestUrl`, `traceEndpointUrl` and `apiUrl` will be automatically
# set based on this realm value.  If unset, it defaults to the original us0
# realm in the agent.
realm:

# The URL of SignalFx ingest server. Should be overridden if using the SignalFx
# Gateway. If you want to send trace spans to a different location, set the
# traceEndpointUrl option. (default: "https://ingest.signalfx.com")
ingestUrl:

# The full URL (including path) to the trace ingest server. If this is not set,
# all trace spans will be sent to the ingestUrl configured above.
traceEndpointUrl:

# The SignalFx API base URL. (default: "https://api.signalfx.com")
apiUrl:

# clusterName must be provided.  It is an arbitrary value that identifies this
# K8s cluster in SignalFx.  This will be the value of the 'kubernetes_cluster'
# dimension on every metric sent by the agent.
clusterName: demo-cpate3.test

# How frequently to send metrics by default in the agent.  This can be
# overridden by individual monitors.
metricIntervalSeconds: 30

# The log level of the agent.  Valid values are 'debug', 'info', 'warn', and
# 'error'.  Info is a good default and won't be too spamy.  Note that 'debug'
# may dump sensitive values in the provided configuration so use with care.
logLevel: info

writer:
  logDatapoints: true

# Whether to ignore TLS validation issue when connecting to the main K8s API
# server.  This should almost never need to be set to true since the CA cert is
# provided with the service account token automatically by K8s.
apiServerSkipVerify: false

# Additional options for connecting to the Kubelet.  These options are
# equivalent to what is under the 'kubeletAPI' key of the 'kubelet-stats'
# monitor.  By default, the agent tries to use its service account if kubelet
# authentication is required.
kubeletAPI:
  authType: serviceAccount

# Any values put in this object correspond to the 'collectd' config block of
# the agent config
collectd: {}

# How often to send cAdvisor-based container metrics.  Defaults to whatever is
# in metricIntervalSeconds.
containerStatsIntervalSeconds:

# If true, K8s cluster-level metrics will be collected (e.g. pod counts,
# deployment status, etc).  The agents will decide amongst themselves which
# instance should send the metrics so that they are only sent once.
gatherClusterMetrics: true

# Enables the docker-container-stats monitor with some specific config that
# causes it to send container stats from Docker with certain dimensions from
# container labels that makes it easy to correlate metrics between cadvisor and
# docker. Note that docker metrics are not sent for pause containers by
# default.
gatherDockerMetrics: true

# A list of metric names that are collected by monitors but are not to be sent
# to SignalFx.  This default set include a lot of highly specific or duplicated
# cAdvisor metrics that cause a large increase in DPM for little value for most
# customers.
metricsToExclude:
 - {"#from": "/lib/whitelist.json", flatten: true}

# The path to the 'etc' directory of the underlying K8s node.  This allows the
# agent to pull certain metadata about the node, such as the Linux distro
# version.
etcPath: /hostfs/etc

# The path to the /proc filesystem of the underlying node.  This allows the
# agent to pull information about processes running on the node, as well as
# other system information.
procPath: /hostfs/proc

# The path to the host filesystem, mounted in the agent container.  This is
# necessary to get filesystem usage information.
hostFSPath: /hostfs

# A list of monitor configurations to include in the agent config.  These
# values correspond exactly to what goes under 'monitors' in the agent config.
# The following are a set of monitors with discovery rules that should cover
# many standard deployments.  Most users will want to override this with their
# own monitors and discovery rules.
monitors:
  # This monitor will scan all containers to see if they expose a JMX port of 1099.  
  # If they do it will attempt to connect and send specific metrics to SignalFX.
  # If you would like to change this to some other port, or maybe provide a finer 
  # grain search, you can look at discoveryRules at this link: https://docs.signalfx.com/en/latest/integrations/agent/auto-discovery.html
  - type: collectd/genericjmx
    discoveryRule: private_port == 1099
    mBeanDefinitions:
      loaded_classes:
        objectName: java.lang:type=ClassLoading
        values:
          - type: gauge
            table: false
            instancePrefix: loaded_classes
            attribute: LoadedClassCount
