<LoadPlugin "nginx">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin "nginx">
  {{range .Endpoints}}
  <Instance "{{withDefault .Name .ID}}[{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}]">
      URL "http://{{.Host}}:{{.Port}}/nginx_status"
      Timeout {{withDefault $.C.Timeout 10}}
      {{with $.C.Username -}}
      User "{{.}}"
      {{- end}}
      {{with $.C.Password -}}
      Password "{{.}}"
      {{- end}}
  </Instance>
  {{end}}
</Plugin>
