LoadPlugin "python"

<Plugin "python">
  ModulePath "{{ pluginRoot }}/haproxy"

  Import "haproxy"

  <Module "haproxy">
    Socket "{{.Host}}:{{.Port}}"
    Interval {{.IntervalSeconds}}
    {{range .ProxiesToMonitor -}}
    ProxyMonitor "{{.}}"
    {{- end }}
    EnhancedMetrics {{if .EnhancedMetrics}}'True'{{else}}'False'{{end}}
    {{range .ExcludedMetrics -}}
    ExcludeMetric '{{.}}'
    {{- end }}
    Dimension "monitorID" "{{.MonitorID}}"
  </Module>
</Plugin>
