PyYAML==5.4.1
black==21.7b0
docker==5.0.0
hvac==0.11.0
kubernetes==17.17.0
mysql-connector-python==8.0.26
netifaces==0.11.0
protobuf==3.17.3
psutil==5.8.0
pylint==2.9.6
pytest-html==3.1.1
pytest-rerunfailures==10.1
pytest-xdist==2.3.0
pytest==6.2.4
redis==3.5.3
requests==2.26.0
sanic==21.6.2
semver==2.13.0
signalfx==1.1.13
pika==1.2.0
elasticsearch==7.14.0
