PyYAML==5.4.1
black==20.8b1
docker==4.1.0
hvac==0.7.2
kubernetes==12.0.1
mysql-connector-python==8.0.23
netifaces==0.10.9
protobuf==3.15.6
psutil==5.6.6
pylint==2.7.4
pytest-html==3.1.1
pytest-rerunfailures==9.1.1
pytest-xdist==2.0.0
pytest==6.2.2
redis==3.5.3
requests==2.25.1
sanic==18.12.0
semver==2.13.0
signalfx==1.1.13
pika==1.2.0
elasticsearch==7.12.0
