PyYAML==5.4.1
black==21.5b1
docker==5.0.0
hvac==0.10.14
kubernetes==17.17.0
mysql-connector-python==8.0.25
netifaces==0.10.9
protobuf==3.17.0
psutil==5.8.0
pylint==2.8.2
pytest-html==3.1.1
pytest-rerunfailures==9.1.1
pytest-xdist==2.2.1
pytest==6.2.4
redis==3.5.3
requests==2.25.1
sanic==20.12.3
semver==2.13.0
signalfx==1.1.13
pika==1.2.0
elasticsearch==7.12.1
