<LoadPlugin "apache">
  Interval {{.C.IntervalSeconds}}
</LoadPlugin>
<Plugin "apache">
  {{range .Endpoints}}
  <Instance "{{withDefault .Name .ID}}[{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}]">
    URL "http://{{.Host}}:{{.Port}}/mod_status?auto"
    {{with $.C.Username -}}
    User "{{.}}"
    {{end}}
    {{with $.C.Password}}
    Password "{{.}}"
    {{end}}
  </Instance>
  {{end}}
</Plugin>
