<LoadPlugin "apache">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin "apache">
  <Instance "{{.Name}}[{{encodeDimsForPluginInstance .ExtraDimensions}}]">
    URL "http://{{.Host}}:{{.Port}}/mod_status?auto"
    {{with .Username -}}
    User "{{.}}"
    {{end}}
    {{with .Password}}
    Password "{{.}}"
    {{end}}
  </Instance>
</Plugin>
