LoadPlugin "python"
<Plugin "python">
  ModulePath "{{ pluginRoot }}/hadoop"
  Import "hadoop_plugin"

  <Module hadoop_plugin>
    ResourceManagerURL "http://{{.Host}}"
    ResourceManagerPort {{.Port}}
    Interval {{.IntervalSeconds}}
    Dimension "monitorID" "{{.MonitorID}}"
    {{with .Verbose -}}
    Verbose {{.}}
    {{- end}}
  </Module>
</Plugin>
