parameters:
  packages: ''
  version: '1.17.6'

steps:
- task: GoTool@0
  inputs:
    version: ${{ parameters.version }}
    goPath: '$(GOPATH)'
    goBin: '$(GOBIN)'
  displayName: 'Install go'
- powershell: |
    mkdir "$(GOBIN)" -ea 0
    go env
    $env:PATH += ";$(GOBIN)"
    echo "##vso[task.setvariable variable=PATH]$env:PATH"
    echo $env:PATH
- template: 'restore-go-cache.yml'
- ${{ if ne(parameters.packages, '') }}:
  - bash: |
      cd $TEMP
      for i in $(seq 1 3); do
          go install ${{ parameters.packages }}@latest && exit 0
          sleep 10
      done
      exit 1
    displayName: 'Install go packages'
