Source: signalfx-agent
Build-Depends: debhelper (>= 9)
Section: utils
Priority: optional
Vcs-Git: https://github.com/signalfx/signalfx-agent
Maintainer: SignalFx, Inc. <support+deb@signalfx.com>

Package: signalfx-agent
Depends: libcap2-bin
Priority: optional
Architecture: amd64 arm64
Homepage: https://signalfx.com
Description: The SignalFx metric agent
