{{define "apache"}}
<LoadPlugin "apache">
  {{ range $key, $value := .Vars -}}
  {{$key}} {{$value}}
  {{ end -}}
</LoadPlugin>
<Plugin "apache">
  {{range $instance := .Instances}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
