TypesDB "{{Globals.PluginRoot}}/docker-collectd-plugin/dockerplugin.db"
LoadPlugin python

<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/docker-collectd-plugin"
  Import "dockerplugin"

  <Module dockerplugin>
    BaseURL "{{.Config.url}}"
    Timeout 3
    Verbose false
  </Module>
</Plugin>

LoadPlugin match_regex
<Chain "PostCache">
  <Rule>
    <Match "regex">
      Plugin "^docker$"
    </Match>
    <Target "jump">
      Chain "FilterOutDetailedDockerStats"
    </Target>
  </Rule>

  Target "write"
</Chain>
<Chain "FilterOutDetailedDockerStats">
  <Rule "CpuUsage">
    <Match "regex">
      Type "^cpu.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "MemoryUsage">
    <Match "regex">
      Type "^memory.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "NetworkUsage">
    <Match "regex">
      Type "^network.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "BlockIO">
    <Match "regex">
      Type "^blkio$"
      TypeInstance "^io_service_bytes_recursive-.*"
    </Match>
    Target "return"
  </Rule>

  Target "stop"
</Chain>
