{{define "elasticsearch"}}
LoadPlugin python
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/collectd-elasticsearch-plugin"
  Import "elasticsearch_collectd"
  {{range $instance := .}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
