{{define "memcached"}}
<LoadPlugin "memcached">
  {{ range $key, $value := .Vars -}}
  {{$key}} {{$value}}
  {{ end -}}
</LoadPlugin>
<Plugin "memcached">
  {{range $instance := .Instances}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
