{{define "mongodb"}}
<LoadPlugin "python">
{{- range $key, $value := .Vars }}
  {{$key}} {{$value}}
{{- end }}
</LoadPlugin>
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mongodb-collectd-plugin"
  Import "mongodb"
  {{range $instance := .Instances}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
