LoadPlugin python
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mongodb-collectd-plugin"
  Import "mongodb"
  <Module "{{.Name}}[{{.Dims}}]">
    Host "{{.Host}}"
    Port "{{.Port}}"
    User "{{Secret "SFX_MONITOR_USER"}}"
    Password "{{Secret "SFX_MONITOR_PASSWORD"}}"
    Database "admin"
  </Module>
</Plugin>
