{{define "mysql"}}
<LoadPlugin "mysql">
{{- range $key, $value := .Vars }}
  {{$key}} {{$value}}
{{- end }}
</LoadPlugin>
<Plugin mysql>
  {{range $instance := .Instances}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
