{{define "nginx"}}
<LoadPlugin "nginx">
{{- range $key, $value := .Vars }}
  {{$key}} {{$value}}
{{- end }}
</LoadPlugin>
<Plugin "nginx">
  {{range $instance := .Instances}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
