LoadPlugin python
TypesDB "/opt/signalfx-collectd-plugin/types.db.plugin"
<Plugin python>
  ModulePath "/opt/signalfx-collectd-plugin"
  LogTraces true
  Interactive false
  Import "signalfx_metadata"
  <Module signalfx_metadata>
    Notifications true
    URL "{{.IngestUrl}}/v1/collectd"
    Token "{{.ApiToken}}"
    NotifyLevel "OKAY"
  </Module>
</Plugin>
