<LoadPlugin "write_http">
   FlushInterval 10
</LoadPlugin>
<Plugin "write_http">
  <Node "SignalFx">
    URL "{{.Config.ingestUrl}}/v1/collectd"
    User "auth"
    Password "{{.Config.apiToken}}"
    Format "JSON"
    Timeout 9000
    BufferSize 65536
    LogHttpError true
  </Node>
</Plugin>
