<LoadPlugin "write_http">
   FlushInterval 10
</LoadPlugin>
<Plugin "write_http">
  <Node "SignalFx">
    URL "{{.Config.url}}/v1/collectd{{if .Config.dimensions}}?{{end}}{{.Config.dimensions}}"
    User "auth"
    Password "{{Secret "SFX_API_TOKEN"}}"
    Format "JSON"
    Timeout 9000
    BufferSize 65536
    LogHttpError true
  </Node>
</Plugin>
