{{define "zookeeper"}}
LoadPlugin python
<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/zookeeper-collectd-plugin"
  Import "zk-collectd"
  {{range $instance := .}}
  	{{RenderTemplate $instance.Template $instance}}
  {{end}}
</Plugin>
{{end}}
