LoadPlugin "python"
<Plugin python>
  ModulePath "{{ pluginRoot }}/kong"
  LogTraces true
  Import "kong_plugin"
  <Module kong_plugin>
    ExtraDimension "monitorID" "{{.MonitorID}}"
    {{with .URL}}
    URL "{{renderValue . $ }}"
    {{end}}{{with .Verbose}}
    Verbose {{.}}
    {{end}}{{with .Name}}
    Name "{{.}}"
    {{end}}{{with $x := .AuthHeader}}
    AuthHeader "{{$x.HeaderName}}" "{{$x.Value}}"
    {{end}}{{with .VerifyCerts}}
    VerifyCerts {{.}}
    {{end}}{{with .CABundle}}
    CABundle "{{.}}"
    {{end}}{{with .ClientCert}}
    ClientCert "{{.}}"
    {{end}}{{with .ClientCertKey}}
    ClientCertKey "{{.}}"
    {{end}}{{with .IntervalSeconds}}
    Interval {{.}}
    {{end}}{{range $l := .Metrics -}}
    Metric "{{$l.MetricName}}" {{$l.ReportBool}}
    {{end}}{{with .ReportAPIIDs}}
    ReportAPIIDs {{.}}
    {{end}}{{with .ReportAPINames}}
    ReportAPINames {{.}}
    {{end}}{{with .ReportServiceIDs}}
    ReportServiceIDs {{.}}
    {{end}}{{with .ReportServiceNames}}
    ReportServiceNames {{.}}
    {{end}}{{with .ReportRouteIDs}}
    ReportRouteIDs {{.}}
    {{end}}{{with .ReportHTTPMethods}}
    ReportHTTPMethods {{.}}
    {{end}}{{with .ReportStatusCodeGroups}}
    ReportStatusCodeGroups {{.}}
    {{end}}{{with .ReportStatusCodes}}
    ReportStatusCodes {{.}}
    {{end}}{{range $l := .APIIDs -}}
    APIIDs "{{$l}}"
    {{end}}{{range $l := .APIIDsBlacklist -}}
    APIIDsBlacklist "{{$l}}"
    {{end}}{{range $l := .APINames -}}
    APINames "{{$l}}"
    {{end}}{{range $l := .APINamesBlacklist -}}
    APINamesBlacklist "{{$l}}"
    {{end}}{{range $l := .ServiceIDs -}}
    ServiceIDs "{{$l}}"
    {{end}}{{range $l := .ServiceIDsBlacklist -}}
    ServiceIDsBlacklist "{{$l}}"
    {{end}}{{range $l := .ServiceNames -}}
    ServiceNames "{{$l}}"
    {{end}}{{range $l := .ServiceNamesBlacklist -}}
    ServiceNamesBlacklist "{{$l}}"
    {{end}}{{range $l := .RouteIDs -}}
    RouteIDs "{{$l}}"
    {{end}}{{range $l := .RouteIDsBlacklist -}}
    RouteIDsBlacklist "{{$l}}"
    {{end}}{{range $l := .HTTPMethods -}}
    HTTPMethods "{{$l}}"
    {{end}}{{range $l := .HTTPMethodsBlacklist -}}
    HTTPMethodsBlacklist "{{$l}}"
    {{end}}{{range $l := .StatusCodes -}}
    StatusCodes "{{$l}}"
    {{end}}{{range $l := .StatusCodesBlacklist -}}
    StatusCodesBlacklist "{{$l}}"
    {{end}}
  </Module>
</Plugin>
