BaseDir "{{ .ConfigDir }}"
TypesDB "./plugins/collectd/types.db"
PluginDir "./plugins/collectd"

{{if .Hostname}}
Hostname "{{.Hostname}}"
FQDNLookup false
{{else}}
FQDNLookup true
{{end}}
Interval {{ .IntervalSeconds }}
Timeout {{ .Timeout }}
ReadThreads {{ .ReadThreads }}
WriteQueueLimitHigh {{ .WriteQueueLimitHigh }}
WriteQueueLimitLow  {{ .WriteQueueLimitLow }}
#CollectInternalStats {{ .CollectInternalStats }}
CollectInternalStats false

LoadPlugin logfile

<Plugin logfile>
  LogLevel "{{.LogLevel}}"
  Timestamp true
  PrintSeverity true
</Plugin>

LoadPlugin match_regex
LoadPlugin target_set

<Chain "PostCache">
  Target "write"
</Chain>

<LoadPlugin "write_http">
   FlushInterval 2
</LoadPlugin>
<Plugin "write_http">
  <Node "SignalFx">
    URL "{{.WriteServerURL}}"
    Format "JSON"
    Timeout 5000
    BufferSize 4096
    LogHttpError true
  </Node>
</Plugin>

{{if .HasGenericJMXMonitor}}
TypesDB "{{Globals.PluginRoot}}/java/signalfx_types_db"
LoadPlugin "java"

<Plugin java>
  #JVMArg "-verbose:jni"
  JVMArg "-Djava.class.path={{Globals.PluginRoot}}/java/collectd-api.jar:{{Globals.PluginRoot}}/java/generic-jmx.jar"

  LoadPlugin "org.collectd.java.GenericJMX"
</Plugin>
{{end}}

Include "{{.ManagedConfigDir}}/*.conf"
