LoadPlugin python
<Plugin python>
  ModulePath "{{ pluginRoot }}/etcd"

  Import "etcd_plugin"

  <Module etcd_plugin>
    Host "{{.Host}}"
    Port "{{.Port}}"
    Interval {{.IntervalSeconds}}
    Cluster "{{.ClusterName}}"
    Dimension "monitorID" "{{.MonitorID}}"
    {{with .SSLKeyFile -}}
    ssl_keyfile "{{.}}"
    {{- end}}
    {{with .SSLCertificate -}}
    ssl_certificate "{{.}}"
    {{- end}}
    {{with .SSLCACerts -}}
    ssl_ca_certs "{{.}}"
    {{- end}}
    ssl_cert_validation {{if .SSLCertValidation}}"True"{{else}}"False"{{end}}
    EnhancedMetrics {{if .EnhancedMetrics}}"True"{{else}}"False"{{end}}
    {{range .MetricsToInclude}}
    IncludeMetric "{{.}}"
    {{end}}
    {{range .MetricsToExclude}}
    ExcludeMetric "{{.}}"
    {{end}}
  </Module>
</Plugin>
