signalfx-agent:
  repo_base_url: https://splunk.jfrog.io/splunk
  package_stage: release
  conf_file_path: '/etc/signalfx/agent.yaml'
  conf:
    signalFxAccessToken: 'My_Token'
    enableBuiltInFiltering: true
    monitors:
      - type: collectd/cpu
      - type: collectd/cpufreq
      - type: collectd/df
      - type: disk-io
      - type: collectd/interface
      - type: load
      - type: collectd/memory
      - type: collectd/signalfx-metadata
        omitProcessInfo: true
      - type: collectd/vmem
      - type: processlist
