<LoadPlugin "processes">
  Interval {{.C.IntervalSeconds}}
</LoadPlugin>
<Plugin processes>
  {{range .C.Processes -}}
  Process "{{.}}"
  {{end}}
  {{range $name, $regex := .C.ProcessMatch -}}
  ProcessMatch "{{$name}}" "{{$regex}}"
  {{end}}
  CollectContextSwitch {{.C.CollectContextSwitch}}
  ProcFSPath "{{.C.ProcFSPath}}"
</Plugin>
