<LoadPlugin "processes">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin processes>
  {{range .Processes -}}
  Process "{{.}}"
  {{end}}
  {{range $name, $regex := .ProcessMatch -}}
  ProcessMatch "{{$name}}" "{{$regex}}"
  {{end}}
  CollectContextSwitch {{.CollectContextSwitch}}
  ProcFSPath "{{.ProcFSPath}}"
</Plugin>
