LoadPlugin "python"
<Plugin "python">
  ModulePath "{{ pluginRoot }}/marathon"
  Import "marathon"
  LogTraces true
  <Module "marathon">
    host  [{{with .Scheme}}"{{.}}", {{end}}{{with .Host}}"{{.}}", {{end}}{{with .Port}}"{{.}}", {{end}}{{with .Username}}"{{.}}", {{end}}{{with .Password}}"{{.}}", {{end}}{{with .DCOSAuthURL}}"{{.}}"{{end}}]
    verbose False
  </Module>
</Plugin>

<Chain "PostCache"> 
  <Rule "set_marathon_monitor_id"> 
    <Match "regex"> 
      Plugin "^marathon" 
    </Match> 
    <Target "set"> 
      MetaData "monitorID" "{{.MonitorID}}" 
    </Target> 
  </Rule> 
  Target "write" 
</Chain>
