LoadPlugin "python"
<Plugin "python">
  ModulePath "{{ pluginRoot }}/jenkins"
  Import "jenkins"

  <Module "jenkins">
    Host "{{.Host}}"
    Port "{{.Port}}"
    Interval {{.IntervalSeconds}}
    MetricsKey "{{.MetricsKey}}"
    EnhancedMetrics "{{.EnhancedMetrics}}"
    Dimension "monitorID" "{{.MonitorID}}"
    {{with .Username -}}
    Username "{{.}}"
    {{end}}{{with .APIToken -}}
    APIToken "{{.}}"
    {{end}}{{with .SSLKeyFile -}}
    ssl_keyfile "{{.}}"
    {{end}}{{with .SSLCertificate -}}
    ssl_certificate "{{.}}"
    {{end}}{{with .SSLCACerts -}}
    ssl_ca_certs "{{.}}"
    {{end}}{{range .IncludeMetrics -}}
    IncludeMetric "{{.}}"
    {{end}}
  </Module>
</Plugin>
