<LoadPlugin "memcached">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin "memcached">
  <Instance "{{.Name}}[monitorID={{.MonitorID}}]">
    ReportHost {{.ReportHost}}
    Host "{{.Host}}"
    Port "{{.Port}}"
  </Instance>
</Plugin>
