<LoadPlugin "memcached">
  Interval {{.C.IntervalSeconds}}
</LoadPlugin>
<Plugin "memcached">
  {{range .Endpoints}}
  <Instance "{{withDefault .Name .ID}}[{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}]">
    ReportHost {{$.C.ReportHost}}
    Host "{{.Host}}"
    Port "{{.Port}}"
  </Instance>
{{end}}
</Plugin>
