LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/spark"
  Import "spark_plugin"

  {{range .Endpoints}}
  <Module spark_plugin>
    MetricsURL "http://{{.Host}}"
    {{if $.C.IsMaster -}}
    Master "http://{{.Host}}:{{.Port}}"
    MasterPort {{.Port}}
    {{else}}
    WorkerPorts {{.Port}}
    {{- end}}
    Applications "{{if $.C.CollectApplicationMetrics}}True{{else}}False{{end}}"
    EnhancedMetrics "{{if $.C.EnhancedMetrics}}True{{else}}False{{end}}"
    {{range $.C.MetricsToInclude}}
    IncludeMetric {{.}}
    {{- end}}
    {{range $.C.MetricsToExclude}}
    ExcludeMetric {{.}}
    {{- end}}
    Cluster "{{$.C.ClusterType}}"
    {{range $key, $value := mergeStringMaps $.C.ExtraDimensions .Dimensions}}
    Dimension "{{$key}}={{$value}}"
    {{- end}}
  </Module>
  {{end}}
</Plugin>
