LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mongodb"
  Import "mongodb"
  <Module mongodb>
    Host "{{.Host}}"
    Port {{.Port}}
    {{with .Username -}}
    User "{{.}}"
    {{- end}}
    {{with .Password -}}
    Password "{{.}}"
    {{- end}}
    Database {{range .Databases}} "{{.}}" {{end}}
    Dimensions "monitorID={{.MonitorID}}"
    {{with .UseTLS -}}
    UseTLS {{.}}
    {{- end}}
    {{with .CACerts -}}
    CACerts "{{.}}"
    {{- end}}
    {{with .TLSClientCert -}}
    TLSClientCert {{.}}
    {{- end}}
    {{with .TLSClientKey -}}
    TLSClientKey {{.}}
    {{- end}}
    {{with .TLSClientKeyPassPhrase -}}
    TLSClientKeyPassphrase "{{.}}"
    {{- end}}
  </Module>
</Plugin>
