LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mongodb"
  Import "mongodb"
  {{range .Endpoints}}
  <Module mongodb>
    Host "{{.Host}}"
    Port {{.Port}}
    User "{{$.C.Username}}"
    {{with $.C.Password -}}
    Password "{{.}}"
    {{- end}}
    Database {{range $.C.Databases}} "{{.}}" {{end}}
    Dimensions "{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}"
    {{with $.C.UseTLS -}}
    UseTLS {{.}}
    {{- end}}
    {{with $.C.CACerts -}}
    CACerts "{{.}}"
    {{- end}}
    {{with $.C.TLSClientCert -}}
    TLSClientCert {{.}}
    {{- end}}
    {{with $.C.TLSClientKey -}}
    TLSClientKey {{.}}
    {{- end}}
    {{with $.C.TLSClientKeyPassPhrase -}}
    TLSClientKeyPassphrase "{{.}}"
    {{- end}}
  </Module>
  {{end}}
</Plugin>
