<LoadPlugin "mysql">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin mysql>
  {{range $endpoint := .Endpoints}}
  {{range $db := .databases}}
  <Database "{{withDefault $endpoint.name $endpoint.id}}_{{$db.name}}[{{encodeDimsForPluginInstance $endpoint.dimensions}}]">
    ReportHost {{withDefault $endpoint.reportHost "true"}}
    Host "{{$endpoint.host}}"
    Port {{$endpoint.port}}
    Database "{{$db.name}}"
    User "{{(withDefault $db.username $endpoint.username) | required}}"
    {{with withDefault $db.password $endpoint.password -}}
    Password "{{.}}"
    {{- end}}
  </Database>
  {{end}}
  {{end}}
</Plugin>
