<LoadPlugin "mysql">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin mysql>
  {{range $db := .Databases}}
  <Database "{{$.Name}}_{{$db.Name}}[{{encodeDimsForPluginInstance $.ExtraDimensions}}]">
    ReportHost {{$.ReportHost}}
    Host "{{$.Host}}"
    Port {{$.Port}}
    Database "{{$db.Name}}"
    User "{{$.Username}}"
    {{with $.Password -}}
    Password "{{.}}"
    {{- end}}
  </Database>
  {{end}}
</Plugin>
