<Plugin java>
  <Plugin "GenericJMX">

    {{range $name, $_ := .MBeanDefinitions}}
    <MBean "{{$name}}">
      ObjectName "{{.ObjectName}}"
      {{with .InstancePrefix -}}
      InstancePrefix "{{.}}"
      {{end -}}
      {{range .InstanceFrom -}}
      InstanceFrom "{{.}}"
      {{end -}}
      {{range .Dimensions -}}
      Dimension "{{.}}"
      {{end -}}
      {{range .Values}}
      <Value>
        {{with .InstancePrefix -}}
        InstancePrefix "{{.}}"
        {{- end}}
        {{range .InstanceFrom -}}
        InstanceFrom "{{.}}"
        {{end -}}
        Type "{{.Type}}"
        Table {{withDefault .Table "false"}}
        Attribute "{{.Attribute}}"
      </Value>
      {{end}}
    </MBean>
    {{end}}

    <Connection>
      {{with .ServiceURL}}
      ServiceURL "{{renderValue . $}}"
      {{- end}}
      MonitorId "{{.MonitorID}}"
      {{with .InstancePrefix -}}
      InstancePrefix "{{.}}"
      {{- end}}
      {{if .Plugin -}}
      Plugin "{{.Plugin}}"
      {{- else}}
      Plugin "{{.ServiceName}}"
      {{- end}}
      ServiceName "{{.ServiceName}}"
      {{with .Username -}}
      User "{{.}}"
      {{- end}}
      {{- with .Password}}
      Password "{{.}}"
      {{- end}}
      {{range $key, $val := .CustomDimensions}}
      CustomDimension "{{$key}}" "{{$val}}"
      {{end}}
      {{range .MBeansToCollect}}
      Collect "{{.}}"
      {{- end}}
    </Connection>
  </Plugin>
</Plugin>
