LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/elasticsearch"
  Import "elasticsearch_collectd"

  <Module "elasticsearch_collectd">
    {{with .AdditionalMetrics -}}
    AdditionalMetrics ["{{stringsJoin . "\", \""}}"]
    {{- end}}
    DetailedMetrics {{toBool .DetailedMetrics}}
    Dimensions "monitorID={{.MonitorID}}"
    EnableClusterHealth {{toBool .EnableClusterHealth}}
    EnableIndexStats {{toBool .EnableIndexStats}}
    Host {{.Host}}
    {{with .Indexes -}}
    Indexes ["{{stringsJoin . "\", \""}}"]
    {{- end}}
    IndexInterval {{toBool .IndexInterval}}
    IndexStatsMasterOnly {{toBool .IndexStatsMasterOnly}}
    IndexSummaryOnly {{toBool .IndexSummaryOnly}}
    Interval {{.IntervalSeconds}}
    {{with .Password -}}
    Password "{{.}}"
    {{- end}}
    Port {{.Port}}
    {{with .Protocol -}}
    Protocol {{.}}
    {{- end}}
    {{with .Username -}}
    Username "{{.}}"
    {{- end}}
    ThreadPools ["{{stringsJoin .ThreadPools "\", \""}}"]
    Verbose false
    {{with .Version -}}
    Version {{.}}
    {{- end}}
  </Module>
</Plugin>
