LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/elasticsearch"
  Import "elasticsearch_collectd"

  {{range .Endpoints}}
  <Module "elasticsearch_collectd">
    {{with $.C.AdditionalMetrics -}}
    AdditionalMetrics ["{{stringsJoin . "\", \""}}"]
    {{- end}}
    DetailedMetrics {{$.C.DetailedMetrics}}
    Dimensions "{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}"
    EnableClusterHealth {{$.C.EnableClusterHealth}}
    EnableIndexStats {{$.C.EnableIndexStats}}
    Host {{.Host}}
    {{with $.C.Indexes -}}
    Indexes ["{{stringsJoin . "\", \""}}"]
    {{- end}}
    IndexInterval {{$.C.IndexInterval}}
    IndexStatsMasterOnly {{$.C.IndexStatsMasterOnly}}
    IndexSummaryOnly {{$.C.IndexSummaryOnly}}
    Interval {{$.C.IntervalSeconds}}
    {{with $.C.Password -}}
    Password "{{.}}"
    {{- end}}
    Port {{.Port}}
    {{with $.C.Protocol -}}
    Protocol {{.}}
    {{- end}}
    {{with $.C.Username -}}
    Username "{{.}}"
    {{- end}}
    ThreadPools ["{{stringsJoin $.C.ThreadPools "\", \""}}"]
    Verbose false
    {{with $.C.Version -}}
    Version {{.}}
    {{- end}}
  </Module>
  {{end}}
</Plugin>
