**/*.tgz
**/*.zip
**/config/private.yml
**/blobs
**/dev_releases
**/product/*
**/release/
releases/*.tgz
releases/**/*.tgz
**/.dev_builds
**/.final_builds/jobs/**/*.tgz
**/.final_builds/packages/**/*.tgz
.DS_Store
.idea
*.swp
*~
*#
#*
