<Plugin java>
  <Plugin "GenericJMX">

    {{range $name, $_ := .C.MBeanDefinitions}}
    <MBean "{{$name}}">
      ObjectName "{{.ObjectName}}"
      {{with .InstancePrefix -}}
      InstancePrefix "{{.}}"
      {{end -}}
      {{range .Values}}
      <Value>
        {{with .InstancePrefix -}}
        InstancePrefix "{{.}}"
        {{- end}}
        Type "{{.Type}}"
        Table {{withDefault .Table "false"}}
        Attribute "{{.Attribute}}"
      </Value>
      {{end}}
    </MBean>
    {{end}}

    {{range $endpoint := .Endpoints}}
    <Connection>
      {{with $.C.ServiceURL}}
      ServiceURL "{{renderValue . (toMap $endpoint)}}"
      {{- else -}}
      ServiceURL "service:jmx:rmi:///jndi/rmi://{{$endpoint.Host}}:{{$endpoint.Port}}/jmxrmi"
      {{- end}}
      InstanceSuffix "{{withDefault $endpoint.Name $endpoint.ID}}[{{encodeDimsForPluginInstance $.C.ExtraDimensions $endpoint.Dimensions}}]"
      {{with $.C.InstancePrefix -}}
      InstancePrefix "{{.}}"
      {{- end}}
      ServiceName "{{$.C.ServiceName}}"
      {{with $.C.Username -}}
      User "{{.}}"
      {{- end}}
      {{- with $.C.Password}}
      Password "{{.}}"
      {{- end}}
      {{range $.C.MBeansToCollect}}
      Collect "{{.}}"
      {{- end}}
    </Connection>
    {{end}}
  </Plugin>
</Plugin>
