LoadPlugin "python"
<Plugin "python">
  ModulePath "{{ pluginRoot }}/spark"
  Import "spark_plugin"

  <Module spark_plugin>
    {{if ne .ClusterType "yarn"}}
    MetricsURL "http://{{.Host}}"
    {{- end}}
    {{if .IsMaster -}}
    Master "http://{{.Host}}:{{.Port}}"
    MasterPort {{.Port}}
    {{else}}
    WorkerPorts {{.Port}}
    {{- end}}
    Applications "{{if .CollectApplicationMetrics}}True{{else}}False{{end}}"
    EnhancedMetrics "{{if .EnhancedMetrics}}True{{else}}False{{end}}"
    Cluster "{{.ClusterType}}"
    Dimension "monitorID={{.MonitorID}}"
  </Module>
</Plugin>
