LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/rabbitmq"
  Import "rabbitmq"
  <Module "rabbitmq">
    CollectChannels {{.CollectChannels}}
    CollectConnections {{.CollectConnections}}
    CollectExchanges {{.CollectExchanges}}
    CollectNodes {{.CollectNodes}}
    CollectQueues {{.CollectQueues}}
    Dimensions "{{encodeDimsForPluginInstance .ExtraDimensions}}"
    Host {{.Host}}
    HTTPTimeout {{.HTTPTimeout}}
    {{with .Password -}}
    Password "{{.}}"
    {{- end}}
    Port "{{.Port}}"
    {{with .Username -}}
    Username "{{.}}"
    {{- end}}
    {{with .VerbosityLevel -}}
    VerbosityLevel "{{.}}"
    {{- end}}
  </Module>
</Plugin>
