LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/rabbitmq"
  Import "rabbitmq"
  {{range .Endpoints}}
  <Module "rabbitmq">
    CollectChannels {{$.C.CollectChannels}}
    CollectConnections {{$.C.CollectConnections}}
    CollectExchanges {{$.C.CollectExchanges}}
    CollectNodes {{$.C.CollectNodes}}
    CollectQueues {{$.C.CollectQueues}}
    Dimensions "{{encodeDimsForPluginInstance $.C.ExtraDimensions .Dimensions}}"
    Host {{.Host}}
    HTTPTimeout {{$.C.HTTPTimeout}}
    {{with $.C.Password -}}
    Password "{{.}}"
    {{- end}}
    Port "{{.Port}}"
    {{with $.C.Username -}}
    Username "{{.}}"
    {{- end}}
    {{with $.C.VerbosityLevel -}}
    VerbosityLevel "{{.}}"
    {{- end}}
  </Module>
  {{end}}
</Plugin>
