name: docs_test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: docs_test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.17.6

jobs:
  docs_test:
    name: docs_test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Caching dependency
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/go/bin
          key: ${{ runner.os }}-v1-go-mod-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/go.sum') }}

      - name: go mod download
        run: |
          [[ -d ~/go/pkg/mod ]] && exit 0
          # retry up to 3 times in case of network issues
          for i in $(seq 1 3); do
              go mod download && exit 0
              sleep 10
          done
          exit 1

      - name: Install gomplate
        run: |
          sudo apt-get install jq -y
          curl -LOk https://github.com/hairyhenderson/gomplate/releases/download/v3.4.0/gomplate_linux-amd64
          sudo mv gomplate_linux-amd64 /usr/bin/gomplate
          chmod +x /usr/bin/gomplate

      - name: Docs test
        env:
          AGENT_BIN: ./signalfx-agent
        run: |
          make signalfx-agent
          bash -ec "make docs && git diff --exit-code" || \
            (echo 'Autogenerated docs and/or the selfdescribe.json file are not in sync with their source! If you directly edited a doc file, please move the changes to the source where the doc is generated from (use grep to find where based on existing doc content). In either case, you need to run `make docs` in the dev image and commit those changes.' && exit 1)
