name: modules_and_generate

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: modules_and_generate-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.17.6

jobs:
  modules_and_generate:
    name: modules_and_generate
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Caching dependency
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/go/bin
          key: ${{ runner.os }}-v1-go-mod-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/go.sum') }}

      - name: go mod download
        run: |
          [[ -d ~/go/pkg/mod ]] && exit 0
          # retry up to 3 times in case of network issues
          for i in $(seq 1 3); do
              go mod download && exit 0
              sleep 10
          done
          exit 1

      - name: go mod tidy
        run: |
          go generate ./...
          go mod tidy
          git diff --exit-code || (echo 'Go modules are not tidied and/or generated code is not properly committed. Run `go generate ./... && go mod tidy` and commit the changes.' && exit 1)
