LoadPlugin "python"
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/marathon"
  Import "marathon"
  LogTraces true
  <Module "marathon">
    host  ["{{.Host}}", "{{.Port}}", "{{.Username}}", "{{.Password}}"]
    verbose False
  </Module>
</Plugin>
